.container{
  max-width: 720px;
  margin: 0 auto;
  height: 170px;

  display: flex;
  align-items: center;

  a{
    transition: filter 0.2s;

    &:hover{
      filter: brightness(0.9);
    }

  }
}



